body {
  font-size: 16px;
  color: #000;
  background-color: #eefae2;
  font-family: 'arial', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #000;
  border-radius: 0;
  border: 0;
}
.container {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.navbar-brand {
  padding-top: 25px;
}
h1 { /* Restaurant name */
  font-family: 'Marck Script', cursive;
  color: #fff;
  font-size: 8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 40%;
  right:10%;
  left:10%;
}
.slogan {
  font-family: 'arial', sans-serif;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left:10%;
  right: 10%;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
.brand a:hover, .brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
  font-size: 0.8em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
    margin-top: 15px;
}
.container1 {
	margin-right: 0px;
	margin-left: 0px;
	width:100%;
	border-radius: 0;	
	position: relative;
}
.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
}
.header_main {
  background-color: #222;
  opacity: 0.7;
  z-index: 999999;
  width:100%;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: #fff;
  text-align: center;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #000;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
.footer-nav-head {
	font-size: 1.3em;
	margin-bottom: 15px;
}
.footer-nav {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #fff;
}
a:hover .footer-nav{
	text-decoration: underline;
	color: #fff;
	
}

/* END FOOTER */



/* HOME PAGE */


#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.gallery_img {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #3F0C1F;
	box-shadow: 0 1px 5px 1px #cccccc;
	border-radius: 6px;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.gallery-head {
	margin-bottom: 20px;
	margin-top: 50px;
}
.review-item {
	font-style: italic;
	font-size: 1.3em;
}
h3 a:hover {
	text-decoration: underline;
	color: #000;

}
.group-ref {
	color: #000;
	text-decoration: underline;
}
.review-author {
	text-align: right;
	font-weight: bold;
	margin-top: 10px;
	padding-right: 10px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
#menu-categories-title {
  margin-bottom: 50px;
}
.more-photo {
	font-size: 1.2em;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 100%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
  margin-bottom: 30px;
}
.menu-item-tile h2{
  margin-bottom: 30px;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-tile hr {
    border-top: 1px solid #9f9898;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  position: relative;
  font-size: 1.5em;
  font-style: italic;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
}
.row {
  padding-left: 30px;
  padding-right: 30px;
}
/* END SINGLE CATEGORY PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container1 .jumbotron1 {
    background: url('../images/main.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

/********** Medium devices only **********/
@media (min-width: 991px) and (max-width: 1199px) {
  /* Header */

  /* End Header */

  /* Home Page */
  .container1 .jumbotron1 {
    background: url('../images/main.jpg') no-repeat;
    background-size: cover;
    height: 721px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container1 .jumbotron1 {
    background: url('../images/main.jpg') no-repeat;
    background-size: cover;
    height: 721px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
    .container1 .jumbotron1 {
    background: url('../images/main.jpg') no-repeat;
    background-size: cover;
    height: 432px;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;

   }
  .brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
    top:2%;
  }  

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    padding: 10px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    left: 5%;
    border: 2px solid #fff;
    background-color: #d8ffb4;
    color: #000;
  }
  /* End Header */

  /* Footer */
  #testimonials {
    color: #fff;
  }
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container1 .jumbotron1 {
        padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



